@charset "UTF-8";
/*헤더푸터*/
header{width: 100%; background-color: #1a1a1a; height: 90px;}
header>a:link {text-decoration: none;}
header>a:visited {text-decoration: none;}
header>a:hover {text-decoration: none;}
header img{position: absolute; height: 95px;width: 100px; left: 30px;}
header h3{color: white;font-size: 30px; padding: 25px 150px;
   font-family: 'Cute Font', cursive; font-size: 40px; display: inline-block;}
header ul{ position: absolute;float: right; display: flex; color: white; top: 0;
right: 40px; width: 500px;font-size: 15px;}
header ul li{flex: 1; line-height: 90px; text-align: center; font-family: 'Cute Font',
 cursive; font-size: 20px;}
header ul li a:link { color: white; text-decoration: none;}
header ul li a:visited { color: white; text-decoration: none;}
header ul li a:hover { color: yellow; text-decoration: none;}
footer{position:relative; left: 0;bottom:0; width:100%; height:100px; background-color: #242424;}

/*플렉스 설정*/
nav, aside{flex-basis: 600px;}
.content{display:flex; height: 1100px;}
.content main{width: 100%;}


/*게시판 페이지*/
#board_div h2{height: 100px; font-size: 40px; font-family: 'Cute Font', cursive; left: 100px;
padding-top: 100px; padding-bottom: 70px; color: #57d1d1;}
#board > table{width: 100%; font-family: 'Cute Font', cursive; font-size: 20px;
text-align: center;}
#board_th{text-align: center;}
#createbutton {float: right; font-size: 20px; font-family: 'Cute Font', cursive; width: 100px;
height: 40px;}
.text-center{ padding-top: 10px;}
.text-center ul{ text-align:center;}
.text-center ul li{display:inline-block;}

/*수정페이지*/
.board_modify>textarea{height: 500px; font-family: 'Cute Font', cursive; font-size: 40px;
color: black; font-weight: bolder; font-size: 30px; resize: none;}

/*게시글 작성 페이지*/
#b_writer,#b_title{height: 50px;}
#b_detail{height: 500px; resize: none;}
#b_writer,#b_title,#b_detail{font-family: 'Cute Font', cursive; font-size: 40px;}
form>#createbutton{margin-top: 10px;}
#b_writer::placeholder, #b_detail::placeholder,#b_title::placeholder{ color: black; font-weight: bolder;
font-size: 30px;}

/*게시글 1개 조회페이지*/
#board_div_1 h2{height: 100px; font-size: 40px; font-family: 'Cute Font', cursive; left: 100px;
padding-top: 100px; padding-bottom: 70px; color: #57d1d1;}
#board_1 table{width: 100%; font-family: 'Cute Font', cursive; font-size: 20px;
text-align: center;}
#board_th{text-align: center;}
.board_content{height: 500px; width: 100%; border: thick dotted #f44336;}
.board_content>p{height: 100%; width: 100%; padding: 10px; color: black; font-weight: bolder;
font-size: 30px;}
#board_1_button{width: 100%; padding-top: 10px;}
#board_1_button button{float: right; font-size: 20px; font-family: 'Cute Font', cursive; width: 100px;
  height: 40px; margin-left: 10px;}

/*인덱스페이지*/
#main {background: url(../img/body_back.jpg) no-repeat center top; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#main>div{width: 1200px; margin: 0 auto;}
#main>img{width: 100%;}
#main>div>h2{padding: 74px 0 20px; text-align: center; font-family: 'Cute Font',
 cursive; font-size: 40px; }
#main > div .ex_box > div{float: left; margin: 7px; padding-top: 10px; padding-bottom: 50px;}
.ex_box>div>img{width: 285px;height: 430px;}
