@charset "UTF-8";
html,body {margin:0;padding:0;height:100%;}
#wrapper {position:relative;min-height:100%;}



#main {background: url(../img/body_back.jpg) no-repeat center top; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#main>div{width: 1200px; margin: 0 auto;}
#main>img{width: 100%;}
#main>div>h2{padding: 74px 0 20px; text-align: center; color: #5c5c5c; font-size: 50px;
letter-spacing: 20px; font-weight: normal;}
#main > div .ex_box > div{float: left; margin: 7px; padding-top: 10px; padding-bottom: 50px;}
.ex_box>div>img{width: 285px;height: 430px;}

.footer{height: 100px; background-color: #242424;}